.container {
  margin: 0 20px;
}

.post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.detailsButton {
  height: fit-content;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: cadetblue;
  color: white;
  text-transform: uppercase;
}