.container {
  display: grid;
  justify-content: center;
  grid-template-columns:  repeat(auto-fill, 400px);
  gap: 20px;
  margin: 10px 5px;
}

.backButton {
  margin: 20px 0;
  font-size: 58px;
  line-height: 0;
}

.backButton span {
  cursor: pointer;
}

.backButton span:hover {
  color: rgb(90, 99, 74);
  transition: color 0.2s ease-in-out;
}