.characters {
  display: grid;
  justify-content: center;
  grid-template-columns:  repeat(auto-fill, 400px);
  gap: 20px;
  margin: 10px 5px;
}

.title {
  text-align: center;
  color: rgb(21, 136, 134);
  font-size: 2.5rem;
  margin: 40px 0;
}