.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.formField {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.error {
  color: rgb(234, 95, 95);
  font-size: 12px;
}